/* Denna fil skall innehålla din CSS kod */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    display: grid;
    grid-template-areas: 100px 25px 300px;
    border: solid 1px black;
}

header {
    background-color: #2980b9;
    padding: 15px;
    margin: 3px;
    display: flex;
    justify-content: space-between;

}

nav {
}
